In [48]:
import pandas as pd

In [49]:
covid_df = pd.read_csv('data/covid-2020-us-counties.csv')
date_df = covid_df[(covid_df['date'] == "2020-12-31")]
date_df.sort_values(by=['cases'], ascending=False)

              date         county       state     fips   cases   deaths
881696  2020-12-31    Los Angeles  California   6037.0  770915  10345.0
883365  2020-12-31  New York City    New York      NaN  430863  25144.0
882107  2020-12-31           Cook    Illinois  17031.0  393652   8285.0
881594  2020-12-31       Maricopa     Arizona   4013.0  322449   5125.0
881856  2020-12-31     Miami-Dade     Florida  12086.0  298872   4188.0
...            ...            ...         ...      ...     ...      ...
882690  2020-12-31        Unknown       Maine      NaN       1      0.0
882045  2020-12-31        Kalawao      Hawaii  15005.0       1      0.0
884263  2020-12-31         Loving       Texas  48301.0       1      0.0
882484  2020-12-31        Unknown      Kansas      NaN       0    408.0
882715  2020-12-31        Unknown    Maryland      NaN       0     57.0

[3245 rows x 6 columns]

In [50]:
covid_df.sort_values(by=['date'], ascending=True)

              date      county       state     fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061.0      1     0.0
1       2020-01-22   Snohomish  Washington  53061.0      1     0.0
2       2020-01-23   Snohomish  Washington  53061.0      1     0.0
3       2020-01-24        Cook    Illinois  17031.0      1     0.0
4       2020-01-24   Snohomish  Washington  53061.0      1     0.0
...            ...         ...         ...      ...    ...     ...
882577  2020-12-31      Monroe    Kentucky  21171.0    945    26.0
882578  2020-12-31  Montgomery    Kentucky  21173.0   1378    12.0
882579  2020-12-31      Morgan    Kentucky  21175.0    518     0.0
882569  2020-12-31       Mason    Kentucky  21161.0    920    17.0
884736  2020-12-31      Weston     Wyoming  56045.0    476     2.0

[884737 rows x 6 columns]

In [51]:
date_df.sort_values(by=['deaths'], ascending=False)

              date         county        state     fips   cases   deaths
883365  2020-12-31  New York City     New York      NaN  430863  25144.0
881696  2020-12-31    Los Angeles   California   6037.0  770915  10345.0
882107  2020-12-31           Cook     Illinois  17031.0  393652   8285.0
881594  2020-12-31       Maricopa      Arizona   4013.0  322449   5125.0
881856  2020-12-31     Miami-Dade      Florida  12086.0  298872   4188.0
...            ...            ...          ...      ...     ...      ...
883894  2020-12-31      Vega Baja  Puerto Rico  72145.0    2203      NaN
883895  2020-12-31        Vieques  Puerto Rico  72147.0     179      NaN
883896  2020-12-31       Villalba  Puerto Rico  72149.0     579      NaN
883897  2020-12-31        Yabucoa  Puerto Rico  72151.0     740      NaN
883898  2020-12-31          Yauco  Puerto Rico  72153.0     878      NaN

[3245 rows x 6 columns]