In [126]:
import pandas as pd

In [127]:
covid_df = pd.read_csv('data/covid-2020-us-counties.csv')
date_df = covid_df[(covid_df['date'] == "2020-12-31")]
date_df.sort_values(by=['cases'], ascending=False)

              date         county       state     fips   cases   deaths
881696  2020-12-31    Los Angeles  California   6037.0  770915  10345.0
883365  2020-12-31  New York City    New York      NaN  430863  25144.0
882107  2020-12-31           Cook    Illinois  17031.0  393652   8285.0
881594  2020-12-31       Maricopa     Arizona   4013.0  322449   5125.0
881856  2020-12-31     Miami-Dade     Florida  12086.0  298872   4188.0
...            ...            ...         ...      ...     ...      ...
882690  2020-12-31        Unknown       Maine      NaN       1      0.0
882045  2020-12-31        Kalawao      Hawaii  15005.0       1      0.0
884263  2020-12-31         Loving       Texas  48301.0       1      0.0
882484  2020-12-31        Unknown      Kansas      NaN       0    408.0
882715  2020-12-31        Unknown    Maryland      NaN       0     57.0

[3245 rows x 6 columns]

In [128]:
covid_df.sort_values(by=['date'], ascending=True)

              date      county       state     fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061.0      1     0.0
1       2020-01-22   Snohomish  Washington  53061.0      1     0.0
2       2020-01-23   Snohomish  Washington  53061.0      1     0.0
3       2020-01-24        Cook    Illinois  17031.0      1     0.0
4       2020-01-24   Snohomish  Washington  53061.0      1     0.0
...            ...         ...         ...      ...    ...     ...
882577  2020-12-31      Monroe    Kentucky  21171.0    945    26.0
882578  2020-12-31  Montgomery    Kentucky  21173.0   1378    12.0
882579  2020-12-31      Morgan    Kentucky  21175.0    518     0.0
882569  2020-12-31       Mason    Kentucky  21161.0    920    17.0
884736  2020-12-31      Weston     Wyoming  56045.0    476     2.0

[884737 rows x 6 columns]

In [129]:
date_df.sort_values(by=['deaths'], ascending=False)

              date         county        state     fips   cases   deaths
883365  2020-12-31  New York City     New York      NaN  430863  25144.0
881696  2020-12-31    Los Angeles   California   6037.0  770915  10345.0
882107  2020-12-31           Cook     Illinois  17031.0  393652   8285.0
881594  2020-12-31       Maricopa      Arizona   4013.0  322449   5125.0
881856  2020-12-31     Miami-Dade      Florida  12086.0  298872   4188.0
...            ...            ...          ...      ...     ...      ...
883894  2020-12-31      Vega Baja  Puerto Rico  72145.0    2203      NaN
883895  2020-12-31        Vieques  Puerto Rico  72147.0     179      NaN
883896  2020-12-31       Villalba  Puerto Rico  72149.0     579      NaN
883897  2020-12-31        Yabucoa  Puerto Rico  72151.0     740      NaN
883898  2020-12-31          Yauco  Puerto Rico  72153.0     878      NaN

[3245 rows x 6 columns]

In [130]:
diabetes_df = pd.read_csv('data/DiabetesAtlasData.csv', skiprows = 2)
diabetes_df.sort_values(by=['Diagnosed Diabetes Percentage'], ascending=False)

,Year,County_FIPS,County,State,Diagnosed Diabetes Percentage,Overall SVI
2411,2018,46102.0,Oglala Lakota County,South Dakota,17.9,0.9943
2359,2018,45089.0,Williamsburg County,South Carolina,17.2,0.9704
338,2018,12039.0,Gadsden County,Florida,16.1,0.9901
1812,2018,35031.0,Mckinley County,New Mexico,15.9,0.9889
2420,2018,46121.0,Todd County,South Dakota,15.9,0.9564
...,...,...,...,...,...,...
1613,2018,30031.0,Gallatin County,Montana,5.0,0.0427
2797,2018,49043.0,Summit County,Utah,4.8,0.0500
2979,2018,53055.0,San Juan County,Washington,4.5,0.0863
3137,2018,56039.0,Teton County,Wyoming,3.8,0.1127
3141,US Diabetes Surveillance System; www.cdc.gov/d...,NaN,NaN,NaN,NaN,NaN

In [132]:
obesity_df = pd.read_csv('data/ObesityData.csv', skiprows = 2)
obesity_df.sort_values(by=['Obesity Percentage'], ascending=False)

,Year,County_FIPS,County,State,Obesity Percentage,Overall SVI
1740,2018,31173.0,Thurston County,Nebraska,43.8,0.8866
1666,2018,31025.0,Cass County,Nebraska,43.1,0.0108
2359,2018,45089.0,Williamsburg County,South Carolina,43.0,0.9704
2028,2018,38079.0,Rolette County,North Dakota,41.6,0.9070
2426,2018,46137.0,Ziebach County,South Dakota,41.5,0.9538
...,...,...,...,...,...,...
270,2018,8051.0,Gunnison County,Colorado,13.8,0.1392
298,2018,8107.0,Routt County,Colorado,13.7,0.0634
250,2018,8013.0,Boulder County,Colorado,13.6,0.1704
3137,2018,56039.0,Teton County,Wyoming,10.5,0.1127
3141,US Diabetes Surveillance System; www.cdc.gov/d...,NaN,NaN,NaN,NaN,NaN

In [119]:
Inactivity_df = pd.read_csv('data/Physical_Inactivity_Data.csv', skiprows = 2)
Inactivity_df.sort_values(by=['Physical Inactivity Percentage'], ascending=False)

,Year,County_FIPS,County,State,Physical Inactivity Percentage,Overall SVI
3020,2018,54059.0,Mingo County,West Virginia,39.6,0.7850
1517,2018,29069.0,Dunklin County,Missouri,38.8,0.9580
326,2018,12013.0,Calhoun County,Florida,38.3,0.8401
333,2018,12029.0,Dixie County,Florida,37.0,0.8994
1434,2018,28067.0,Jones County,Mississippi,36.3,0.8920
...,...,...,...,...,...,...
3137,2018,56039.0,Teton County,Wyoming,10.7,0.1127
1810,2018,35028.0,Los Alamos County,New Mexico,9.8,0.0248
250,2018,8013.0,Boulder County,Colorado,9.4,0.1704
262,2018,8035.0,Douglas County,Colorado,8.8,0.0150
3141,US Diabetes Surveillance System; www.cdc.gov/d...,NaN,NaN,NaN,NaN,NaN