In [31]:
import pandas as pd
import numpy as np

In [32]:
covid_df = pd.read_csv('data/covid-2020-us-counties.csv')
Population_df = pd.read_csv('data/2020CensusTotalPopulation.csv', skiprows = 1)
date_df = covid_df[(covid_df['date'] == "2020-12-31")]
date_df = date_df.sort_values(by=['state', 'county'])
date_df.drop(date_df[(date_df['county'] == 'Unknown')].index, inplace=True)
Population_df.drop(3221, inplace=True)
print(date_df)
print(Population_df['Estimate!!Total'])
date_df['cases'] = date_df['cases'].astype(float)
result_df = (date_df['cases'].values/Population_df['Estimate!!Total'].values)
date_df.insert(5, 'cases percentages', result_df)
date_df.insert(5, 'population', Population_df['Estimate!!Total'].values)
date_df.sort_values(by='cases percentages', ascending=False)

              date      county    state     fips  cases  deaths
881492  2020-12-31     Autauga  Alabama   1001.0   4190    48.0
881493  2020-12-31     Baldwin  Alabama   1003.0  13601   161.0
881494  2020-12-31     Barbour  Alabama   1005.0   1514    32.0
881495  2020-12-31        Bibb  Alabama   1007.0   1834    46.0
881496  2020-12-31      Blount  Alabama   1009.0   4641    63.0
...            ...         ...      ...      ...    ...     ...
884732  2020-12-31  Sweetwater  Wyoming  56037.0   2966    16.0
884733  2020-12-31       Teton  Wyoming  56039.0   2138     4.0
884734  2020-12-31       Uinta  Wyoming  56041.0   1558     7.0
884735  2020-12-31    Washakie  Wyoming  56043.0    780    19.0
884736  2020-12-31      Weston  Wyoming  56045.0    476     2.0

[3221 rows x 6 columns]
0        55639
1       218289
2        25026
3        22374
4        57755
         ...
3216     51089
3217      8508
3218     21899
3219     32867
3220     34501
Name: Estimate!!Total, Length: 3221, dtype: int64

,date,county,state,fips,cases,population,cases percentages,deaths
884169,2020-12-31,Dallas,Texas,48113.0,193318.0,704,274.599432,2007.0
882048,2020-12-31,Ada,Idaho,16001.0,38417.0,436,88.112385,355.0
883754,2020-12-31,Allegheny,Pennsylvania,42003.0,53809.0,1417,37.973888,1009.0
881766,2020-12-31,Jefferson,Colorado,8059.0,29565.0,781,37.855314,612.0
884155,2020-12-31,Collin,Texas,48085.0,48423.0,1553,31.180296,370.0
...,...,...,...,...,...,...,...,...
882045,2020-12-31,Kalawao,Hawaii,15005.0,1.0,20346,0.000049,0.0
884309,2020-12-31,Roberts,Texas,48393.0,46.0,1146215,0.000040,1.0
881699,2020-12-31,Mariposa,California,6043.0,252.0,10040682,0.000025,4.0
881723,2020-12-31,Sierra,California,6091.0,24.0,1924379,0.000012,0.0
884263,2020-12-31,Loving,Texas,48301.0,1.0,118645,0.000008,0.0

In [33]:
s = '48085.0'
s1 = s[0: -2]
print(s1)
s2 = '0500000US06037'
s3 = s2[-4: ]
print(s3)

48085
6037

In [34]:
# Parse census ID
Population_df = pd.read_csv('data/2020CensusTotalPopulation.csv', skiprows = 1)
Population_df.drop(3221, inplace=True)
print(Population_df['id'].values)
Population_df['id'] = Population_df['id'].map(lambda x: x[-5:])
Population_df['id'] = Population_df['id'].map(lambda x: int(x))
print(Population_df['id'])

['0500000US01001' '0500000US01003' '0500000US01005' ... '0500000US72149'
 '0500000US72151' '0500000US72153']
0        1001
1        1003
2        1005
3        1007
4        1009
        ...
3216    72145
3217    72147
3218    72149
3219    72151
3220    72153
Name: id, Length: 3221, dtype: int64

In [36]:
# Parse Covid ID
covid_df = pd.read_csv('data/covid-2020-us-counties.csv')
# print(covid_df['fips'])
covid_df['fips'] = covid_df['fips'].map(lambda x: str(x))
cvoid_df = covid_df.assign(fips_len = lambda x: len(x['fips']))

In [37]:
# Parse Covid ID
covid_df = pd.read_csv('data/covid-2020-us-counties.csv')
# print(covid_df['fips'])
covid_df['fips_str'] = covid_df['fips'].map(lambda x: str(x))
covid_df['fips_len'] = covid_df['fips_str'].map(lambda x: len(x))
date_df = covid_df[(covid_df['date'] == "2020-04-01")]

#print(covid_df['fips'])
#print(covid_df)
#print(covid_df[(covid_df['date'] == '2020-04-01') & (covid_df['fips_len'] < 6) & (covid_df['county'] != 'Unknown')])
#print(date_df[(date_df['date'] == '2020-04-01') & (date_df['fips_len'] < 6) & (date_df['county'] != 'Unknown')])
date_df.at[25033, 'fips'] = 20085
date_df.at[25206, 'fips'] = 36061
date_df.drop(date_df[(date_df['county'] == 'Unknown')].index, inplace=True)
date_df['fips'] = date_df['fips'].map(lambda x: int(x))
#print(date_df[(date_df['date'] == '2020-04-01') & (date_df['fips_len'] < 6) & (date_df['county'] != 'Unknown')])
print(date_df)

             date      county    state   fips  cases  deaths fips_str  \
23880  2020-04-01     Autauga  Alabama   1001     10     0.0   1001.0
23881  2020-04-01     Baldwin  Alabama   1003     23     1.0   1003.0
23882  2020-04-01        Bibb  Alabama   1007      3     0.0   1007.0
23883  2020-04-01      Blount  Alabama   1009      5     0.0   1009.0
23884  2020-04-01     Bullock  Alabama   1011      3     0.0   1011.0
...           ...         ...      ...    ...    ...     ...      ...
26096  2020-04-01    Sheridan  Wyoming  56033     10     0.0  56033.0
26097  2020-04-01    Sublette  Wyoming  56035      1     0.0  56035.0
26098  2020-04-01  Sweetwater  Wyoming  56037      3     0.0  56037.0
26099  2020-04-01       Teton  Wyoming  56039     26     0.0  56039.0
26100  2020-04-01    Washakie  Wyoming  56043      1     0.0  56043.0

       fips_len
23880         6
23881         6
23882         6
23883         6
23884         6
...         ...
26096         7
26097         7
26098         7
26099         7
26100         7

[2188 rows x 8 columns]

/Users/jonathanliu/tryout/beaverworks/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/Users/jonathanliu/tryout/beaverworks/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [39]:
ccdata = {}
for index, row in date_df.iterrows():
    fips = row['fips']
    v = []
    ccdata[fips] = v
    v.append(fips)
    v.append(row['state'])
    v.append(row['county'])
    v.append(row['cases'])
print(ccdata[1001])

[1001, 'Alabama', 'Autauga', 10]

In [40]:
for index, row in Population_df.iterrows():
    fips = row['id']
    v = ccdata.get(fips)
    if not v:
        continue
    else: 
        p = row['Estimate!!Total']
        case = v.pop()
        result = case/p * 100
        v.append(case)
        v.append(p)
        v.append(result)
print(ccdata[1001])

[1001, 'Alabama', 'Autauga', 10, 55639, 0.01797300454717015]

In [41]:
obesity_df = pd.read_csv('data/ObesityData.csv', skiprows = 2)
for index, row in obesity_df.iterrows():
    fips = row['County_FIPS']
    v = ccdata.get(fips)
    if not v:
        continue
    else: 
        v.append(row['Obesity Percentage'])
print(ccdata[1001])

[1001, 'Alabama', 'Autauga', 10, 55639, 0.01797300454717015, 29.6]

In [42]:
diabetes_df = pd.read_csv('data/DiabetesAtlasData.csv', skiprows = 2)
for index, row in diabetes_df.iterrows():
    fips = row['County_FIPS']
    v = ccdata.get(fips)
    if not v:
        continue
    else: 
        v.append(row['Diagnosed Diabetes Percentage'])
print(ccdata[1001])

[1001, 'Alabama', 'Autauga', 10, 55639, 0.01797300454717015, 29.6, 9.5]

In [43]:
Inactivity_df = pd.read_csv('data/Physical_Inactivity_Data.csv', skiprows = 2)
for index, row in Inactivity_df.iterrows():
    fips = row['County_FIPS']
    v = ccdata.get(fips)
    if not v:
        continue
    else: 
        v.append(row['Physical Inactivity Percentage'])
print(ccdata[1001])

[1001, 'Alabama', 'Autauga', 10, 55639, 0.01797300454717015, 29.6, 9.5, 23.8]

In [44]:
covid_df.sort_values(by=['date'], ascending=True)

,date,county,state,fips,cases,deaths,fips_str,fips_len
0,2020-01-21,Snohomish,Washington,53061.0,1,0.0,53061.0,7
1,2020-01-22,Snohomish,Washington,53061.0,1,0.0,53061.0,7
2,2020-01-23,Snohomish,Washington,53061.0,1,0.0,53061.0,7
3,2020-01-24,Cook,Illinois,17031.0,1,0.0,17031.0,7
4,2020-01-24,Snohomish,Washington,53061.0,1,0.0,53061.0,7
...,...,...,...,...,...,...,...,...
882577,2020-12-31,Monroe,Kentucky,21171.0,945,26.0,21171.0,7
882578,2020-12-31,Montgomery,Kentucky,21173.0,1378,12.0,21173.0,7
882579,2020-12-31,Morgan,Kentucky,21175.0,518,0.0,21175.0,7
882569,2020-12-31,Mason,Kentucky,21161.0,920,17.0,21161.0,7
884736,2020-12-31,Weston,Wyoming,56045.0,476,2.0,56045.0,7

In [21]:
date_df['cases'] = date_df['cases'].astype(float)
result_df = date_df['cases'].values/Population_df['Estimate!!Total'].values
date_df.insert(5, 'cases percentages', result_df)
date_df.sort_values(by='cases percentages', ascending=False)

/Users/jonathanliu/tryout/beaverworks/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

ValueError: operands could not be broadcast together with shapes (3245,) (3222,)

In [129]:
date_df.sort_values(by=['deaths'], ascending=False)

              date         county        state     fips   cases   deaths
883365  2020-12-31  New York City     New York      NaN  430863  25144.0
881696  2020-12-31    Los Angeles   California   6037.0  770915  10345.0
882107  2020-12-31           Cook     Illinois  17031.0  393652   8285.0
881594  2020-12-31       Maricopa      Arizona   4013.0  322449   5125.0
881856  2020-12-31     Miami-Dade      Florida  12086.0  298872   4188.0
...            ...            ...          ...      ...     ...      ...
883894  2020-12-31      Vega Baja  Puerto Rico  72145.0    2203      NaN
883895  2020-12-31        Vieques  Puerto Rico  72147.0     179      NaN
883896  2020-12-31       Villalba  Puerto Rico  72149.0     579      NaN
883897  2020-12-31        Yabucoa  Puerto Rico  72151.0     740      NaN
883898  2020-12-31          Yauco  Puerto Rico  72153.0     878      NaN

[3245 rows x 6 columns]

In [130]:
diabetes_df = pd.read_csv('data/DiabetesAtlasData.csv', skiprows = 2)
diabetes_df.sort_values(by=['Diagnosed Diabetes Percentage'], ascending=False)

,Year,County_FIPS,County,State,Diagnosed Diabetes Percentage,Overall SVI
2411,2018,46102.0,Oglala Lakota County,South Dakota,17.9,0.9943
2359,2018,45089.0,Williamsburg County,South Carolina,17.2,0.9704
338,2018,12039.0,Gadsden County,Florida,16.1,0.9901
1812,2018,35031.0,Mckinley County,New Mexico,15.9,0.9889
2420,2018,46121.0,Todd County,South Dakota,15.9,0.9564
...,...,...,...,...,...,...
1613,2018,30031.0,Gallatin County,Montana,5.0,0.0427
2797,2018,49043.0,Summit County,Utah,4.8,0.0500
2979,2018,53055.0,San Juan County,Washington,4.5,0.0863
3137,2018,56039.0,Teton County,Wyoming,3.8,0.1127
3141,US Diabetes Surveillance System; www.cdc.gov/d...,NaN,NaN,NaN,NaN,NaN

In [132]:
obesity_df = pd.read_csv('data/ObesityData.csv', skiprows = 2)
obesity_df.sort_values(by=['Obesity Percentage'], ascending=False)

,Year,County_FIPS,County,State,Obesity Percentage,Overall SVI
1740,2018,31173.0,Thurston County,Nebraska,43.8,0.8866
1666,2018,31025.0,Cass County,Nebraska,43.1,0.0108
2359,2018,45089.0,Williamsburg County,South Carolina,43.0,0.9704
2028,2018,38079.0,Rolette County,North Dakota,41.6,0.9070
2426,2018,46137.0,Ziebach County,South Dakota,41.5,0.9538
...,...,...,...,...,...,...
270,2018,8051.0,Gunnison County,Colorado,13.8,0.1392
298,2018,8107.0,Routt County,Colorado,13.7,0.0634
250,2018,8013.0,Boulder County,Colorado,13.6,0.1704
3137,2018,56039.0,Teton County,Wyoming,10.5,0.1127
3141,US Diabetes Surveillance System; www.cdc.gov/d...,NaN,NaN,NaN,NaN,NaN

In [119]:
Inactivity_df = pd.read_csv('data/Physical_Inactivity_Data.csv', skiprows = 2)
Inactivity_df.sort_values(by=['Physical Inactivity Percentage'], ascending=False)

,Year,County_FIPS,County,State,Physical Inactivity Percentage,Overall SVI
3020,2018,54059.0,Mingo County,West Virginia,39.6,0.7850
1517,2018,29069.0,Dunklin County,Missouri,38.8,0.9580
326,2018,12013.0,Calhoun County,Florida,38.3,0.8401
333,2018,12029.0,Dixie County,Florida,37.0,0.8994
1434,2018,28067.0,Jones County,Mississippi,36.3,0.8920
...,...,...,...,...,...,...
3137,2018,56039.0,Teton County,Wyoming,10.7,0.1127
1810,2018,35028.0,Los Alamos County,New Mexico,9.8,0.0248
250,2018,8013.0,Boulder County,Colorado,9.4,0.1704
262,2018,8035.0,Douglas County,Colorado,8.8,0.0150
3141,US Diabetes Surveillance System; www.cdc.gov/d...,NaN,NaN,NaN,NaN,NaN

In [30]:
print(Population_df)

      Estimate!!Total Margin of Error!!Total              id  \
0               55639                  *****  0500000US01001
1              218289                  *****  0500000US01003
2               25026                  *****  0500000US01005
3               22374                  *****  0500000US01007
4               57755                  *****  0500000US01009
...               ...                    ...             ...
3217             8508                  *****  0500000US72147
3218            21899                  *****  0500000US72149
3219            32867                  *****  0500000US72151
3220            34501                  *****  0500000US72153
3221        326569308                  *****       0100000US

                 Geographic Area Name
0             Autauga County, Alabama
1             Baldwin County, Alabama
2             Barbour County, Alabama
3                Bibb County, Alabama
4              Blount County, Alabama
...                               ...
3217   Vieques Municipio, Puerto Rico
3218  Villalba Municipio, Puerto Rico
3219   Yabucoa Municipio, Puerto Rico
3220     Yauco Municipio, Puerto Rico
3221                    United States

[3222 rows x 4 columns]